[submodule "rsrtools"]
	path = rsrtools
	url = https://github.com/BuongiornoTexas/rsrtools.git
[submodule "demucs"]
	path = demucs
	url = https://github.com/adefossez/demucs.git
[submodule "rs-utils"]
	path = rs-utils
	url = https://github.com/0x0L/rs-utils.git
